<%- include('partials/head.ejs'); %>
<body>
    <%- include('partials/navbar.ejs'); %>
    <h1>The homepage <%= 4 + 5 + 1 %></h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet eos illo dolorum saepe. Quam minus odit ab deserunt tempora distinctio corrupti dolor quae similique eos rem, veniam incidunt libero alias.</p>
</body>
</html>